.v-about {
  &__projects-list {
    margin: 0;
    padding: 0;
    list-style-type: lower-roman;
  }

  &__project {
    margin: 15px;
    font-size: $fs-300;

    &:first-child {
      margin-top: 25px;
    }
  }
}
